@import url('https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body, html{
	font-size:1em;
	background-color:#222222;
	color:white;
	 font-family: "Open Sans", sans-serif;
	 border:0px;
	 margin:0px;
	 width:100vw;
	 height:100vh;
}
body>header{
	height:2em;
}

